// Define variables for your color scheme

//Default from config. — NOT REMOVE !!!
$red:red;
$blue:blue;
$green:green;
$yellow:yellow;
$orange:orange;


// Neutral:
$white: #ffffff;
$light-gray: #F4F4F4;
$medium-gray: #cdcdcd;
$medium-darker-gray: #7d7d7d;
$gray: #7d7d7d;
$darker-gray: #2a2a2a;
$black: #000000;

//Primary
$primary-light:#FEDCDC;
$primary-base:#FB6767;
$primary-dark:#AB0E0E;
$primary-darker:#8c0b0b;

// Secondary
$secondary-light:#E6F4FE;
$secondary-base:#1A81CB;
$secondary-dark:#113651;
$secondary-darker:#0D293E;

// Accent
$accent-base:#EDB901;
$accent-dark:#bf9603;

//ALERT message
$warning-base:#FC8229;
$warning-dark:#B24F07;
