// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #cdcdcd;
$medium-darker-gray: #7d7d7d;
$darker-gray: #2a2a2a;

// Page Colors:
$bg-1: #B5CBD5;
$bg-2: #759AAA;
$bg-3: #426D80;
$bg-4: #1E4555;
$bg-5: #0A2733;

//Primary
$primary-light:#FEDCDC;
$primary-base:#FB6767;
$primary-dark:#AB0E0E;
// Secondary:
$secondary-light:#E6F4FE;
$secondary-base:#1A81CB;
$secondary-dark:#113651;
$secondary-darker:#0D293E;
