.container-event-show {
  display: flex;
  margin: 3rem 10%;
  justify-content: space-evenly;

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  h5 {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  p {
    font-size: 0.85rem;
    margin-bottom: 0.7;
  }
}
