.event-date-box {
  display: inline-block;
  background-color: white;
  border-radius: 6px;
  margin-left: 5rem;
  height: 4.95rem;
  padding: 8px 16px;
}

.event-flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-event-show {
  display: flex;
  margin: 3rem 10%;
  justify-content: space-evenly;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }

  h5 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.05rem;
    margin-bottom: 0.5;
    padding-left: 0.25;
  }
}

.font-white {
  p {
    color: white;
  }
}

#genre-box {
  display: inline-block;
  background-color: $secondary-dark;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}

.map-event {
  max-width: 100%;
  height: 250px;
  margin: 1.75rem 0;
}

.mapboxgl-canvas {
  border: 4px solid #426D80;
  border-radius: 10px;
}

.address {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0;
  }
}

.join-button {
  text-decoration: none;
  background-color: #426D80;
  color: #FFEDC7;
  padding: 8px 16px;
  border-radius: 5px;
}

.cancel-button {
  text-decoration: none;
  background-color: #FFEDC7 ;
  color: #426D80;
  padding: 8px 16px;
  border-radius: 5px;
}

#events-show-grid {
  display: grid;
  grid-template-columns: 57% 38%;
  padding: 0 5%;
  gap: 5%;
  padding-top: 3rem;
  background-color: $secondary-light;
}

.chat {
  background-color: white;
  padding: 2rem;
  border-radius: 16px;
}

.divider {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid rgb(131, 131, 131);
  margin: 2rem 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.participants-cards {
  display: flex;

}

.organizer {
  margin-bottom: 3rem;
}
