body {
  position: relative;
}

.body-light-blue {
  background-color: $secondary-light;
}

#header-eventcards {
  display: flex;
  justify-content: space-between;
}

#events-grid {
  display: grid;
  grid-template-columns: 57% 38%;
  margin: 0 5%;
  gap: 5%;
  padding-top: 3rem;
}

.map-right {
  max-width: 100%;
  height: 750px;
}

.create-event-section{
  margin: 0;
  padding: 3rem 0;
}

.today-and-create-container {
  display: flex;
  gap: 3rem;
  margin: 0 7% 0;
}

.todays-event-container {
max-width: 100%;
}

.event-page {
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
  }

 }

 .upcoming-section {
  background-color: $bg-3;
  padding: 3rem 7%;
 }

.movie-link {
  text-decoration: none;
  color: #0A2733;
}

.edit-button {
  text-decoration: none;
  padding: 8px 16px;
  background-color: #426D80;
  color: #FFEDC7;
  border-radius: 5px;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.7;
}

.edit-button:hover {
  opacity: 0.9;
}

.ticket {
  color: $bg-5;
  padding-right: 0.25rem;
}

.create-button {
  background-color: #FFEDC7;
}

.create-button:hover {
  background-color: #ffedc782;
}

// .event-details {
//   display: flex;
//   flex-direction: column;
//   height: 150px;
//   margin: 0;
//   padding: 0;
// }
