.container-movies-index {
  display: flex;
  flex-direction: column;
}

.container-events-index {
  background-color: green;

}

.container-popular-movies-index {
  background-color: red;
}

.container-upcoming-movies-index {
  background-color: orange ;
}
