body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.wrapper-sign-in {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  overflow: auto;
  z-index: 1;
}

.logo {
  width: 236px;
  border-radius: 4px;
}

.container-sign-in-form {
  width: 100%;
  max-width: 600px;
}

.sign-in-title {
  text-align: center;
  border: 4px solid #FFEDC7;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
}

.sign-in-paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.buttons-login {
  justify-content: center;
  gap: 25px;
}

.login-card {
  border: 5px solid rgb(216, 145, 11);
  box-shadow: 10px 10px 10px rgb(16, 50, 105);
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -200%;
  }
}

/* Fallback if the operating system prefers reduced motion */

@media (prefers-reduced-motion) {
  .background-animation {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
