html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-animation {
  width: 100%;
  height: 100%;
  animation: scroll 100s linear infinite;
  background: url("seamless-movies") repeat;
  background-size: cover;
}

.wrapper-sign-up {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.sign-up-title {
  text-align: center;
  padding: 20px 10px 20px 10px;
  border: 4px solid #FFEDC7;
  border-radius: 10px;
}

.p-registration {
  justify-content: center;
  padding-top: 25px;
}

.text-small {
  font-size: .86em;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}
