.container-user-page-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.user-card-details {
  border: 5px solid black;
  margin-right: 10px;
  padding: 15px;
}

.user-preferences-card {
  border: 5px solid grey;
  align-items: stretch;
  padding: 15px;
}

.container-user-events-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 5px solid black;
}

.picture-card {
  border: 4px solid black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 25px;
}
