body {
  background-color: #E6F4FE;
}

.h1-user-profile {
  padding: 20px;
  margin-top: 15px;
  background-color: #E6F4FE;
}

.container-user-page-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #FEDCDC;
  border-top: 4px solid grey;
}
.user-card-details {
  margin-right: 10px;
  padding: 15px;
}

.user-preferences-page {
  padding: 15px;
}

.user-preferences-card {
  padding: 25px;
}

.user-preferences-genres {
  padding: 15px;
}

.user-preferences-directors {
  padding: 15px;

}

.user-preferences-actors {
  padding: 15px;

}

.see-all-my-stuff {
  background-color: #E6F4FE;
  padding: 15px;
  padding-top: 25px;
  padding-left: 35px;
}

.see-all-link {
  text-decoration: none;
  padding-left: 15px;
  background-color: #E6F4FE;
}

.user-attending-events, .user-organized-events {
  padding: 15px;
}

.container-user-events-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  background-color: #E6F4FE;
}

.picture-card {
  border: 4px solid black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 25px;
  // padding: 15px;
}

.user-friends-page {
  padding: 25px;
  background-color: #E6F4FE;
}
