
<div data-search-movies-target="list">
      <div class="movies">
          <% @movies.each do |movie| %>
        <div class="movie-card card">
            <%= image_tag movie.poster_url %>
            <h3><%= movie.title %></h3>
        </div>
          <% end %>

      </div>
</div>
