<div class="container-movies-index">
  <h1>Welcome! This page is empty! tumbleweed.gif</h1>

  <div class="container-events-index">
    <h2>What your friends are watching - Recommendations</h2>

  </div>

  <div class="container-popular-movies-index">
    <h2>Popular movies</h2>

  </div>

  <div class="container-upcoming-movies-index">
    <h2>Upcoming Movies</h2>

  </div>



</div>
