<div class="footerok">
  <div id="footertext">
    <span class="footercolumn">
    <h2>Events</h2>
    <p>Today</p>
    <p>Near me</p>
    </span>
    <span class="footercolumn">
    <h2>Friends</h2>
    <p>People with common interests</p>
    <p>My frinds</p>
    </span>
    <span class="footercolumn">
    <h2>Movies</h2>
    <p>Per categories</p>
    <p>Upcoming</p>
    </span>
  </div>
  <div id="footertext">
   <span class="footercolumn">
    <h2>About us</h2>
    </span>
  </div>

  </div>
