<h1>Friend Requests</h1>

<% @friendships.each do |friendship| %>
  <%= friendship.user.username %>
  <%= link_to "Accept", accept_path(friend_id: friendship.user_id), data: { turbo_method: :patch } %>
  <%= link_to "Reject", reject_path(friend_id: friendship.user_id), data: { turbo_method: :patch } %>
<% end %>
