<% if @friends.any? %>
    <div class="user-cards flex flex-wrap">
      <% @friends.each do |friend| %>

        <% if friend.friend.username == current_user.username%>
          <%= render 'friend_user', friend: friend %>
        <% else %>
          <%= render 'friend_friend', friend: friend %>
        <% end %>
      <% end %>
    </div>
<% else %>
    <em>No users with similar preferences found.</em>
<% end %>
