<h1>Todays' movienights</h1>

<div class="events">
  <%= render 'shared/event_cards' %>
</div>

<h1>These people might be interessting for you</h1>

<div class="user-reommendations">

</div>

<h1>Movie recommendations</h1>

<div class="movie-recommendations">

</div>
