.banner {
  background-image: radial-gradient(circle 600px at 50% 00%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8)), url("poster-nemo.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#homepage.banner {
  background-image: radial-gradient(circle 600px at 50% 00%, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8)), url("poster-nemo.jpg");
  height: 400px;
}
