.button-red {
  display: block;
  background-color: #AB0E0E;
  border-radius: 25px;
  padding: 8px 32px;
  color: white;
  border: none;
  h5 {
    margin: 0;
    font-weight: bold;
  }
}

// .button {
//   padding: 10px 20px;
//   margin: 10px 0;
//   background-color: $primary-dark; /* Primary button color */
//   color: #fff;
//   font-size: 16px;
//   text-align: center;
//   text-decoration: none;
//   cursor: pointer;
//   transition: background-color 0.3s ease, transform 0.3s ease;

//   &:hover {
//     background-color: #2980b9; /* Darker shade on hover */
//     transform: translateY(-2px); /* Slight lift on hover */
//   }

//   &:active {
//     background-color: #1c5985; /* Even darker shade on click */
//     transform: translateY(0); /* Reset lift on click */
//   }
// }

.button-sign-up {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: grey; /* Primary button color */
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: rgb(216, 145, 11); /* Darker shade on hover */
    transform: translateY(-2px); /* Slight lift on hover */
  }

  &:active {
    background-color: #1c5985; /* Even darker shade on click */
    transform: translateY(0); /* Reset lift on click */
  }
}

// BUTTON REGLAR -----------------------------------------------------------------------------------------------

.btn-regular {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  transition: 0.3s ease;
  &:hover {
    box-shadow: none;
    transition: 0.3s ease;
  }
}

.btn-primary {
  background-color: $primary-dark;
  border: 1px solid $primary-light;
  color: $white;
  &:hover {
    background-color: $primary-darker;
  }
}

.btn-secondary {
  background-color: $white;
  border: 1px solid $primary-base;
  color: $black;
  &:hover {
    background-color: $primary-dark;
    color: $white;
  }
}

.btn-size-xs {
  padding: 4px 16px;
  font-size: .9em;
  font-weight: 600;
  font-size: .86em;
}

.btn-size-s {
  padding: 8px 16px;
  font-size: 1em;
  font-weight: 600;
}


//BUTTON MODAL -----------------------------------------------------------------------------------------------

.mouseover {
  cursor: pointer;
  font-size: 28px;
  color: $primary-dark;
  &:hover {
   color: $primary-darker;
  }
}

// BUTTON BOOKMARK TYPE -----------------------------------------------------------------------------------------------

.bookmark-type {
  background-color: $accent-base;
  color: $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 42px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 16px;
  border: none;
  transition: 0.3s ease;
  i {
    font-size: 1.4em;
  }
  &:hover {
    background-color: $accent-dark;
    transition: 0.3s ease;
  }
}

.bookmark-type-attended {
  background-color: #609966;
  color: $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 42px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 16px;
  border: none;
  transition: 0.3s ease;
  i {
    font-size: 1.4em;
  }
  &:hover {
    background-color: #486f4c;
    transition: 0.3s ease;
  }
}

.bookmark-type-edit {
  background-color: #526D82;
  color: $black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 42px;
  height: 46px;
  position: absolute;
  top: 0;
  right: 16px;
  border: none;
  transition: 0.3s ease;
  i {
    font-size: 1.4em;
  }
  &:hover {
    background-color: #27374D;
    transition: 0.3s ease;
  }
}
