.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px; /* Adjust margin as needed */
  padding: 10px; /* Adjust padding as needed */
  background-color: $light-gray; /* Light gray background */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid $medium-gray;
  box-shadow : 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align : center; /* Center text within the card */
}

.movies-horizontal-list .movie-card {
  flex: 0 0 200px;
}

.event-card.card {
  flex: 0 0 300px;
}
