.event-card.card {
  position: relative;
  padding: 0;
}


.square-card .movie-poster {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  // transition: transform 0.5s ease, filter 0.5s ease;
}

.event-card .text {
  position: relative;
  padding: 24px 16px 12px 16px;
  a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

.date-time {
  font-size: 1.2em;
  color: $black;
  padding: 8px;
  position: absolute;
  top: -30px;
  left: 16px;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event-date {
  display: flex;
  background-color: $white;
  font-size: 1em;
  position: absolute;
  top: 150px;
  right: 20px;
}

.event-date .fa-calendar {
  margin-right: 10px;
  font-size: 18px;
  color: #007bff;
}

.date-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date-day {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin-right: 5px;
}

.date-month {
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
  margin-right: 5px;
}

.date-year {
  font-size: 14px;
  color: #999;
}

.flex {
  display: flex;
}
