.m-24 {margin:24px;}
.p-24 { padding: 24px;}

.m-y-24 {margin-top :24px; margin-bottom: 24px;}
.p-y-24 {padding-top :24px; padding-bottom: 24px;}

.m-l-24 {margin-left:24px;}
.p-l-24 {padding-left:24px;}
