
.movie-card img {
  width: 100%; /* Image fills the card width */
  height: 200px; /* Adjust image height as needed */
  object-fit: contain; /* Crop image to fit within container */
}

.movie-card h3 {
  margin-top: 10px; /* Margin between image and title */
  font-size: 18px; /* Adjust title font size */
  font-weight: bold; /* Bold title text */
  overflow-wrap: break-word;
}

.movie-card p {
  font-size: 14px; /* Adjust description font size */
  line-height: 1.5; /* Adjust line spacing for better readability */
  color: $darker-gray; /* Gray text color */
  overflow-wrap: break-word;
}
