.card.movie-card {
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:hover {
    background-color: $black;
    color: $white;
    h4 {
      color: $white;
    }
  }
}
.movie-card {
  position: relative;
  flex: 0 0 232px;
  color: $black;
  .poster {
    height: 324px;
    overflow: hidden;
    img {
      width: 100%; /* Image fills the card width */
      height: auto; /* Adjust image height as needed */
      object-fit: contain; /* Crop image to fit within container */
      border-radius: 10px 10px 0 0 ;
    }
  }
  .text {
      padding: 16px 12px;
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .verso {
    .text {
      position: absolute;
      height: 324px;
      overflow: none;
      top: 0;
      left: 0;
    }
    .caracteristics {
      font-size: .8em;
    }
  }
}

// .movie-card h3 {
//   margin-top: 10px; /* Margin between image and title */
//   font-size: 18px; /* Adjust title font size */
//   font-weight: bold; /* Bold title text */
//   overflow-wrap: break-word;
// }

// .movie-card p {
//   font-size: 14px; /* Adjust description font size */
//   line-height: 1.5; /* Adjust line spacing for better readability */
//   color: $darker-gray; /* Gray text color */
//   overflow-wrap: break-word;
// }

.movie-card span:not(:first-of-type)::before {content: ', '}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 324px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px 10px 0 0;
}
