.navbar-lewagon {
  justify-content: space-between;
  z-index: 3;
  position: sticky;
  top: 0;
  background: #0A2733;
  box-shadow: 0 0 50px grey;
  width: 100%;

  h2 {
    color: #FFEDC7;
    padding-top: 10px;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 4px;
  margin-right: 25px;
  margin-left: 15px;
}

.nav-link {
  color: #FFEDC7;
}

.nav-link:hover {
  color: #db3535;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
