.navbar-lewagon {
  justify-content: space-between;
  z-index: 3;
  position: sticky;
  top: 0;
  background: #000000;
  box-shadow: 0 0 50px rgb(41, 40, 40);
  width: 100%;

  transition: 0.3s;

  h2 {
    color: #FFEDC7;
    padding-top: 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 4px;
  margin-right: 25px;
  margin-left: 15px;
}

.navbar-expand-sm .navbar-nav .nav-link {
  color: #FFEDC7;
  font-family: "Rubik", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size:23px;
  padding: 20px;

}

.navbar {
  padding: 0px;
  li { align-self: center };
  .avatar { margin-left: 6px };
}
.nav-link-in {
  color: #FFEDC7;
  background-color: $primary-darker;
  font-family: "Rubik", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size:23px;
  padding: 20px;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
  color: #db3535;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.border-round {
  border-radius: 8px;
}

.drop-font {
  color: #5b5b5b;
  font-weight: bold;
}

.drop-font:hover {
  color: whitesmoke;
  font-weight: bold;
  background-color: #db3535;
}
