.form {
  position: absolute;
  top: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0;
  padding:48px;
  border-radius: 10px;
  background-color: $black;
}

#closebutton {
  display: flex;
  justify-content: space-between;
}

.overlay-blur {
  position: absolute;
  width: 100vw;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}
