.create-event {
  position: absolute;
  top: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0;
}

#closebutton {
  display: flex;
  justify-content: space-between;
}

.mouseover {
  cursor: pointer;
  font-size: 28px;
  color: #ab0e0e92;
}

.mouseover:hover {
  color: #AB0E0E;
}

.overlay-blur {
  position: absolute;
  width: 100vw;
  height: 2000px;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(128, 128, 128, 0.811);
}
